* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

nav ul {
  align-items: center;
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  padding: 1rem;
}
nav ul {
  list-style: none;
  color: 20px black;
}
.hero {
  min-height: 90vh;
  background-image: url("/pexels-hasan-albari-1229861.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero h2 {
  text-align: center;
  margin: 2rem;
}
.hero button {
  padding: 1rem 2rem;
  background: rgb(137, 255, 220);
  border: none;
  border-radius: 0.5rem;
}
.intro {
  display: flex;
  flex-wrap: wrap;
}
.intro img {
  width: 100%;
  height: 100%;
}
.intro-image {
  flex: 1 1 30rem;
  background: rgba(176, 224, 233, 0.37);
}
.intro-text {
  flex: 1 1 30rem;
  background: rgb(255, 252, 252);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.intro-text h2 {
  font-family: sans-serif;
  padding: 2rem;
}
.intro-text p {
  padding: 2rem;
}
button {
  cursor: pointer;
}
